<br>
<br>
<br>
<br>

<h2>Search By Name or Address</h2> 
<input [(ngModel)]="searchText" placeholder="Place or Address">
<br>
<br>


    
<div *ngIf="places">
  <div *ngFor="let ratedPlace of places | sort : 'averageRate'">
      </div>
</div>



<table class="table table-striped table-bordered" id="dataTable" style="width:100%">

  <thead>

    <tr>
      <th>Name</th>
      <th>Number of Rates</th>
      <th>RoadGame Rate</th>
      <th>Handicap Equipped</th>
      <th>Family Bathroom</th>
      <th>Address</th>
      <th>Rate This Place</th>
      <th>See Reviews</th>
    </tr>


  </thead>
  <tbody>
    <tr *ngFor="let place of places | filter : searchText">
      <form novalidate (ngSubmit)="addPlace(placesForm)" #placesForm="ngForm" class="form-horizontal">
        <input [ngModel]="place?.name" ngModel #name="ngModel" type="hidden" name="name" value="place.name">
        <input [ngModel]="place?.address" ngModel #address="ngModel" type="hidden" name="address" value="place.address">
        <input [ngModel]="place?.googleId" ngModel #place_id="ngModel" type="hidden" name="googleId" value="place.googleId">
      </form>
      <td>{{place.name}}</td>
      <td>{{place.totalRates}}</td>
      <td>
        <div *ngFor="let ratedPlace of places">
          <div *ngIf="ratedPlace.name == place.name">
            <div class="star-ratings-sprite">
              <div [ngStyle]="{'width': ratedPlace.averageRate/5*100 + '%'}" class="star-ratings-sprite-rating"></div>
            </div>
          </div>
        </div>
      </td>

      <td style="text-align: center">
        <div *ngFor="let ratingInfo of place.ratingInfo; index as i; last as isLast">
          <div *ngIf="isLast && ratingInfo.isHandicap == true">
            <img class="familypic" alt="family sign" src="assets/images/handicap.png">
          </div>
        </div>
      </td>

      <td style="text-align: center">
        <div *ngFor="let ratingInfo of place.ratingInfo; index as i; last as isLast">
          <div *ngIf="isLast && ratingInfo.isFamily == true">
            <img class="familypic" alt="family sign" src="assets/images/family.png">
          </div>
        </div>
      </td>
      <td>
        {{place.address}}
      </td>
      <td class="text-center">
        <button (click)="addPlace(placesForm)" class="btn btn-danger">Rate</button>
      </td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/place/', place.id]">See Reviews</a>&nbsp;
      </td>
    </tr>
  </tbody>
</table>

