<br>
<br>

<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      
          <tr>
              <th>Name</th>
              <th>Number of Rates</th>
              <th>RoadGame Rate</th>
              <th>Handicap Accessible</th>
              <th>Clean</th>
              <th>Rate This Place</th>
            </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let place of places">
        <td>{{place.name}}</td>
        <td>{{place.totalRates}}</td>
        <td>{{place.averageRate}}</td>
        <td>
          <div *ngFor="let ratingInfo of place.ratingInfo">
          {{ratingInfo.isClean}}
        </div>
        </td>
      </tr>
    </tbody>
  </table>
