<section @fadeInAnimation>

    <ol class="breadcrumb">
        <li><a routerLink="/map">Map</a></li>
        <li class="active">Our Story</li>
    </ol>
    <div class="page">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div style="height: 500px" class="item active">
          <img width="100%" src="http://www.pmq.com/images/cache/cache_d/cache_4/cache_c/dirtybathroom-b20b2c4d.jpeg?ver=1493311504&amp;aspectratio=1.498127340824">
          <div class="carousel-caption">
            <h3>Dirty Bathrooms</h3>
            <p>We're all tired of seeing these.</p>
          </div>
        </div>
        <div style="height: 500px" class="item">
          <img width="100%" src="http://www.enviroplex.com/images/IMG_8029_v.jpg">
          <div class="carousel-caption">
            <h3>Clean Bathrooms</h3>
            <p>When all you want to see is something like this.</p>
          </div>
        </div>
        <div style="height: 500px" class="item">
          <img width="100%" src="https://afth.files.wordpress.com/2013/07/nationallamppoonvacation-660x438.jpg">
          <div class="carousel-caption">
            <h3>On the Road</h3>
            <p>Find a restroom between here and Wallyworld.</p>
          </div>
        </div>
      </div>
  
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
  
        <!-- START THE FEATURETTES -->
  
        <hr>
  
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">"We want that head so sanitary and squared-away that the Virgin Mary herself would be proud to use it." <span class="text-muted">What we aspire to provide for our users.</span></h2>
            <p class="lead">Just like Gunnery Sergeant Hartman</p>
          </div>
          <div class="col-md-5">
            <img src="https://media.giphy.com/media/uIUkCjKZFb81a/giphy.gif" alt="Generic placeholder image" width="95%">
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-md-7 col-md-push-4">
            <h2 class="featurette-heading">A storm drain shouldn't be the best alternative to finding a spot.<span class="text-muted">We know everyone eventually needs to empty the tank on the road.</span></h2>
            <p class="lead">Don't be like Cousin Eddy</p>
          </div>
          <div class="col-md-4 col-md-pull-7">
            <img class="rg_ic rg_i" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAmu3ng01cjqg92XYsUCES3LES_VzI-R0hjHc7mO1WPm5RWO_a" data-sz="f" name="4CUOExkyJsTQwM:" jsaction="load:str.tbn" alt="Image result for cousin eddie shitters full gif" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="width: 296px; height: 170px; margin-left: 0px; margin-right: 0px; margin-top: 0px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAmu3ng01cjqg92XYsUCES3LES_VzI-R0hjHc7mO1WPm5RWO_a">
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-md-7">
            <h2 class="featurette-heading">Use the road rules rater. <span class="text-muted">Make sure everything is as fresh as a daisy.</span></h2>
            <p class="lead"></p>
          </div>
          <div class="col-md-5">
            <img src="http://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2015/11/10/0/CI_Costa-Farms-Leucanthemum-Darling-DSC_4587.jpg.rend.hgtvcom.231.174.suffix/1447169937063.jpeg" alt="Generic placeholder image">
          </div>
        </div>
        <br>
      </div>
        <br>
        <br>

        <!-- /END THE FEATURETTES -->
  </section>
