<section @fadeInAnimation>
<br>

<div class="directions">
  <h1>Welcome to RoadGame Rater</h1>
  <h4>An app to help you find the best places to do your business. Enter an address and find bathrooms nearby to see their reviews.</h4>
  <h4>Create an account to add your own ratings and save your favorite drop off locations.</h4>
</div>
<br>
<br>

<h1>Enter Your Location</h1>
<div class="form-group">
  <input #search [formControl]="searchControl" placeholder="search for location" type="text" class="form-control">
</div>


<div *ngIf="!nearByPlaces">
  <div class="loader">
    <!--   <h2>Finding Bathrooms</h2> -->
    <div class="wrapper">
      <div class="toiletroll">
        <div class="roll"></div>
        <div class="papers">
          <div class="paper">Loading</div>
          <div class="paper">Wait</div>
          <div class="paper">Please</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #myMap></div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    
  <agm-marker label="Current Location" [latitude]="lat" [longitude]="lng"></agm-marker>

  

      <agm-marker class="markers" [iconUrl]="markerIconUrl(place)" *ngFor="let place of nearByPlaces" [latitude]="place.geometry.location.lat()"
        [longitude]="place.geometry.location.lng()">
        <agm-info-window>{{place.name}} 
          <br>
          <a href="https://maps.google.com/?q={{place.vicinity}}">Get Directions</a>
        </agm-info-window>
      </agm-marker>
 

</agm-map>


<br>
<br>

<div class="page">
<div *ngIf="nearByPlaces">

  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Address</th>
        <th>Times Rated</th>
        <th>RoadGame Rate</th>
        <th>See Reviews</th>
        <th *ngIf=user>Rate This Place</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let place of nearByPlaces">
        <form novalidate (ngSubmit)="addPlace(placesForm)" #placesForm="ngForm" class="form-horizontal">
          <input [ngModel]="place?.name" ngModel #name="ngModel" type="hidden" name="name" value="place.name">
          <input [ngModel]="place?.vicinity" ngModel #address="ngModel" type="hidden" name="address" value="place.vicinity">
          <input [ngModel]="place?.place_id" ngModel #place_id="ngModel" type="hidden" name="googleId" value="place.place_id">
        </form>
        <td class="type">{{deunderscore(place.types[0])}}</td>
        <td>{{place.name}}</td>
        <td>{{place.vicinity}}</td>

        <td>
          <div *ngFor="let ratedPlace of places">
            <div *ngIf="ratedPlace.name == place.name">
              {{ratedPlace.totalRates}}
            </div>
          </div>
        </td>

        <td>
          <div *ngFor="let ratedPlace of places">
            <div *ngIf="ratedPlace.name == place.name">
              <div class="star-ratings-sprite">
                <div [ngStyle]="{'width': ratedPlace.averageRate/5*100 + '%'}" class="star-ratings-sprite-rating"></div>
                {{ratedPlace.averageRate}}
              </div>
            </div>
          </div>
        </td>


        <td>
          <div *ngFor="let ratedPlace of places">
            <div *ngIf="ratedPlace.name == place.name">
              <a class="btn btn-primary" [routerLink]="['/place/', ratedPlace.id]">See Reviews</a>&nbsp;
            </div>
          </div>
        </td>

        <td *ngIf=user class="text-center">
          <button (click)="addPlace(placesForm)" class="btn btn-danger">Rate</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>


