
<section @fadeInAnimation>
    <br>
    <br>

    <div class="col-sm-10">
  
    <ol class="breadcrumb">
        <li><a routerLink="/map">Map</a></li>
        <li><a routerLink="/newUser">Create Account</a></li>
        <li class="active">Login</li>
    </ol>

  <div class="col-sm-10" style="text-align:center;">
    <div class="alert-success">
      <h2>Welcome to our site, you are registered!&nbsp;&nbsp;Please Login</h2>
    </div>
  </div>

  <br><br><br><br><br><br><br>

  <form novalidate (ngSubmit)="sendLogin(loginForm)" #loginForm="ngForm" class="form-horizontal">

      
    <div class="form-group">
      <label for="username" class="col-sm-2 col-form-label">User Name</label>
      <div class="col-sm-6">
        <input [ngModel]="user?.username" ngModel #username="ngModel" type="text" class="form-control" id="userName" name="username"
          required>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-6">
        <input [ngModel]="user?.password" ngModel #password="ngModel" type="password" class="form-control" id="pword" name="password"
          required>
      </div>
    </div>

    <br>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
  </div>

</section>