<br>
<br>


<div *ngIf="place">
    <div>
    {{place.name}}  {{place.averageRate}}
    <a class="btn btn-primary" [routerLink]="['/place/add/', place.id]">Rate this Bathroom</a>&nbsp;
   
    <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
       <thead>
         <tr>
           <th>Rating</th>
           <th>Was it clean?</th>
           <th>Handicap Equiped?</th>
           <th>Family Bathroom?</th>
           <th>Comments</th>
           </tr>
       </thead>
       <tbody>
         <tr *ngFor="let rate of place.ratingInfo">
           <td>{{rate.rating}}</td>
           <td>{{rate.isClean}}</td>
           <td>{{rate.isHandicap}}</td>
           <td>{{rate.isFamily}}</td>
           <td>{{rate.comments}}</td> 
         </tr>
       </tbody>
     </table>
   </div>
   
