<br>
<br>

<div *ngIf="place">
  <div class="name" id="name">
    {{place.name}}
  </div>
</div>

<br>

<div *ngIf="place">
  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <tbody>
      <tr>
        <td text-align:center>
          <div *ngFor="let ratingInfo of place.ratingInfo; index as i; last as isLast">
            <div *ngIf="isLast && ratingInfo.isHandicap == true" style="top:50%;text-align:center;">
              <img class="familypic" alt="family sign" src="assets/images/handicap.png">
            </div>
            <div *ngIf="isLast && ratingInfo.isHandicap == false" style="top:50%;text-align:center;">
              <img class="familypic" alt="family sign" src="assets/images/nohandicap.png">
            </div>
          </div>
        </td>

        <td>
          <div *ngFor="let ratingInfo of place.ratingInfo; index as i; last as isLast">
            <div *ngIf="isLast && ratingInfo.isFamily == true" style="top:50%;text-align:center;">
              <img class="familypic" alt="family sign" src="assets/images/family.png">
            </div>
            <div *ngIf="isLast && ratingInfo.isFamily == false" style="top:50%;text-align:center;">
              <img class="familypic" alt="family sign" src="assets/images/nofamily.png">
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="place">
  <div class="star-ratings-sprite">
    <div [ngStyle]="{'width': place.averageRate/5*100 + '%'}" class="star-ratings-sprite-rating"></div>
  </div>

  <br>
  <div class="ratebutton" style="top:50%;text-align:center;">
    <a class="btn btn-primary" [routerLink]="['/place/add/', place.id]">Rate this Bathroom</a>&nbsp;
  </div>

  <br>

  <div style="top:50%;text-align:center;">
  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
      
    <thead>
    
      <tr>
        <th style="top:50%;text-align:center;">Rating</th>
        <th style="top:50%;text-align:center;">Was it clean?</th>
        <th style="top:50%;text-align:center;">Comments</th>
      </tr>
      
    </thead>

    <tbody>
      <tr *ngFor="let rate of place.ratingInfo">
        <td>
          <div class="star-ratings-sprite">
            <div [ngStyle]="{'width': rate.rating/5*100 + '%'}" class="star-ratings-sprite-rating"></div>
          </div>
        </td>
        <td>
          <div *ngIf="rate.isClean == true">
            <img class="pic" alt="clean" src="assets/images/clean.png">
          </div>
          <div *ngIf="rate.isClean == false">
            <img class="pic" alt="poo" src="assets/images/poo.png">
          </div>
        </td>
        <td>{{rate.comments}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngFor="let ratingInfo of place.ratingInfo">
<span *ngIf="ratingInfo.itemImageUrl">
    <a href={{ratingInfo.itemImageUrl}} target="_new">
      <img [src]="ratingInfo.itemImageUrl" />
    </a>
  </span>
</div>


