<form>
  <h1>Input Your Location</h1>
  <h2>Fill in Full Address, City, State or Zip only</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Street address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="streetAdress" id="streetAdress">
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1">City</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="city" id="city">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">State</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="state" id="state">
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Zip</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="zip" id="zip">
        </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

