<br>
<br>
<br>

<div *ngIf="ratedPlace">
  <div class="name" id="name">
    {{ratedPlace.name}}
  </div>
</div>

<br>
<br>

<form novalidate (ngSubmit)="saveRating(ratedForm)" #ratedForm="ngForm" class="form-horizontal">

  <!--      <input [ngModel]="ratingInfo?.rating" ngModel #rating="ngModel" type="number" class="form-control" id="rating" name="rating" min="1"
         max="5"> -->
  <div class="form-group">
    <label for="rating" class="col-sm-3 control-label">Your Rating of Bathroom</label>
    <rating [ngModel]="ratingInfo?.rating" ngModel #rating="ngModel" [max]="5" [customTemplate]="tt" id="rating" name="rating"
      [readonly]="isReadonly" required></rating>
    <ng-template #tt let-i="index" let-v="value">
      <div class="btn btn-{{i < v ? 'warning' : 'default'}}">
        {{i
        < v ? '&#9733;' : '&#9734;'}} </div>
    </ng-template>
    <span *ngIf="formErrors.rating" class="text-danger"> {{ formErrors.rating }} </span>
    </div>

    <hr>

    <div class="form-group">
      <label for="isClean" class="col-sm-3 control-label">Was it Clean?</label>
      <div class="col-sm-6">
        <label class="radioButton">Yes
          <input [ngModel]="ratingInfo?.isClean" ngModel #isClean="ngModel" chekced="checked" type="radio" value="true" class="form-control"
            id="isClean" name="isClean" required>
          <span class="checkmark"></span>
        </label>
        <label class="radioButton">No
          <input [ngModel]="ratingInfo?.isClean" ngModel #isClean="ngModel" chekced="checked" type="radio" value="false" class="form-control"
            id="isClean" name="isClean" required>
          <span class="checkmark"></span>
        </label>
        <span *ngIf="formErrors.isClean" class="text-danger"> {{ formErrors.isClean }} </span>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label for="isHandicap" class="col-sm-3 control-label">Handicap Accessible?</label>
      <div class="col-sm-6">
        <label class="radioButton">Yes
          <input [ngModel]="ratingInfo?.isHandicap" ngModel #isHandicap="ngModel" chekced="checked" type="radio" value="true" class="form-control"
            id="isHandicap" name="isHandicap" required>
          <span class="checkmark"></span>
        </label>
        <label class="radioButton">No
          <input [ngModel]="ratingInfo?.isHandicap" ngModel #isHandicap="ngModel" chekced="checked" type="radio" value="false" class="form-control"
            id="isHandicap" name="isHandicap" required>
          <span class="checkmark"></span>
        </label>
        <span *ngIf="formErrors.isHandicap" class="text-danger">{{ formErrors.isHandicap }}</span>
      </div>
    </div>

    <hr>




    <div class="form-group">
      <label for="isFamily" class="col-sm-3 control-label">Was there a Family Restroom?</label>
      <div class="col-sm-6">
        <label class="radioButton">Yes
          <input [ngModel]="ratingInfo?.isFamily" ngModel #isFamily="ngModel" chekced="checked" type="radio" value="true" class="form-control"
            id="isFamily" name="isFamily" (click)="clicked()" required>
          <span class="checkmark"></span>
        </label>
        <label class="radioButton">No
          <input [ngModel]="ratingInfo?.isFamily" ngModel #isFamily="ngModel" chekced="checked" type="radio" value="false" class="form-control"
            id="isFamily" name="isFamily" required>
          <span class="checkmark"></span>
        </label>
        <span *ngIf="formErrors.isFamily" class="text-danger">
          {{ formErrors.isFamily }}
        </span>
      </div>
    </div>



    <div class="form-group">
      <label for="comments" class="col-sm-2 control-label"></label>
      <div class="col-sm-9">
        <span class="input-group-addon">Comments</span>
        <textarea [ngModel]="ratingInfo?.comments" ngModel #comments="ngModel" type="text" class="form-control" id="comments" name="comments"
          rows="1" style="width:100%; height:200px;"></textarea>
        <span *ngIf="formErrors.comments" class="text-danger">
          {{ formErrors.comments }}
        </span>
      </div>
    </div>

    <div class="form-group">

      <div class="col-sm-offset-2 col-sm-10">

        <label for="itemImageUpload">Upload your picture</label>
        <input type="file" id="itemImageUpload" name="itemImage" (change)="imageUpload($event)">
        <p class="help-block">Upload an image of your experience.</p>
      </div>

    </div>




    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!ratedForm.form.valid || buttonText == 'Loading...'" type="submit" class="btn btn-primary">{{ buttonText }}</button>
      </div>
    </div>
</form>

<br>
<br>
<hr>

<div *ngIf="ratedPlace">
  <br>
  <div class="ratebutton" style="top:50%;text-align:center;">
    <a class="btn btn-primary" [routerLink]="['/place/', ratedPlace.id]">See All Reviews for: {{ratedPlace.name}}</a>&nbsp;
  </div>

</div>