.pic {
    height: 30px;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
  }
    
  .star-ratings-sprite-rating {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
      background-position: 0 100%;
      float: left;
      height: 21px;
      display:block;
    }

    .name {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 28px;
        padding: 40px 20px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        }
        
        #name {
          background-color: #e7e5e4;
          letter-spacing: .1em;
        }

        .page {
            background-color: white;
            height: 100%;
            overflow:auto;
         }

        #dataTable{
            margin-bottom: 0px;          
         
        }

      
