<section @fadeInAnimation>
  <br>
  <br>
  <br>

  <div *ngIf="userData">
      <ol class="breadcrumb">
          <li><a routerLink="/map">Map</a></li>
          <li><a routerLink="/place">Top Rated Locations</a></li>
          <li class="active">{{userData.username}}'s Reviews</li>
      </ol>
    </div>


  <div *ngIf="userData">
    <div class="name" id="name">
      {{userData.firstName}} {{userData.lastName}}
    </div>
  </div>
    <br>
    <br>

    <div style="top:50%;text-align:center;">
      <table class="table table-striped table-bordered" id="dataTable" style="width:100%">

        <thead>

          <tr>
            <th style="top:50%;text-align:center;">Rated Place</th>
            <th style="top:50%;text-align:center;">Rating</th>
            <th style="top:50%;text-align:center;">Was it clean?</th>
            <th style="top:50%;text-align:center;">Comments</th>
          </tr>

        </thead>

        <tbody>
          <tr *ngFor="let userView of user">
            <td>
              {{userView.place.name}}
            </td>
            <td>
              <div class="star-ratings-sprite">
                <div [ngStyle]="{'width': userView.rating/5*100 + '%'}" class="star-ratings-sprite-rating"></div>
              </div>
            </td>
            <td>
              <div *ngIf="userView.isClean == true">
                <img class="pic" alt="clean" src="assets/images/clean.png">
              </div>
              <div *ngIf="userView.isClean == false">
                <img class="pic" alt="poo" src="assets/images/poo.png">
              </div>
            </td>
            <td>{{userView.comments}}</td>
          </tr>
        </tbody>
      </table>
    </div>






<!--<div *ngFor="let userView of user.place">

  {{userView.ratingInfo}}
  {{userView.name}}
  {{name}}

</div> -->

</section>